<!-- index.html -->
<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="rutvijTodo">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title>Rutvij Todo App</title>

    <!-- SCROLLS -->
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
    <style>
        html                    { overflow-y:scroll; }
        body                    { padding-top:50px; }
        #todo-list              { margin-bottom:30px; }
    </style>

    <!-- SPELLS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.min.js"></script><!-- load angular -->
    <script type="text/javascript" src="{{ url_for('static', filename = 'core.js') }}"></script>

   </head>
<body ng-controller="mainController">
	<div class="container">

		<!-- HEADER AND TODO COUNT -->
		<div class="jumbotron text-center">
			<h1>Predict comments</h1>
		</div>

                <div id="todo-form" ng-show="table.fields">
                    <div class="table-responsive"">
                      <table class="table">
                       <thead>
   			 <tr>
      			 <th>Summary</th>
     			 <th>Praise</th>
     	 		 <th>Problem</th>
 			 <th>Solution</th>
			 <th>Localization</th>
			 <th>Neutrality</th>
			 <th>Mitigation</th>
    			 </tr>
 			 </thead>

                        <tr>
                        <td><input type='text' ng-model='table.fields.summary' placeholder='summary:'></td>
                        <td><input type='text' ng-model='table.fields.praise' placeholder='praise:'></td>
			<td><input type='text' ng-model='table.fields.problem' placeholder='problem:'></td>
			<td><input type='text' ng-model='table.fields.solution' placeholder='solution:'></td>
			<td><input type='text' ng-model='table.fields.localization' placeholder='localization:'></td>
			<td><input type='text' ng-model='table.fields.neutrality' placeholder='neutrality:'></td>
			<td><input type='text' ng-model='table.fields.mitigation' placeholder='mitigation:'></td></tr>
		     </table>
                     </div>
                     <button type="submit" class="btn btn-primary btn-lg" ng-click="updateTodo()">Update</button>
		</div>
		
		<!-- FORM TO CREATE TODOS -->
		<div id="todo-form" class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<form>
					<div class="form-group">

						<!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
						<input type="text" class="form-control input-lg text-center" placeholder="input your comment" ng-model="formData.text" required='True'>
					</div>

					<!-- createToDo() WILL CREATE NEW TODOS -->
					<button type="submit" class="btn btn-primary btn-lg" ng-click="createTodo()">Add</button>
				</form>
			</div>
</div>
</body>
 </html>


